.popOver {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.popOverPage_closeButton {
    width: 64px;
    height: 64px;
    margin-left: 458px;
    cursor: pointer;
}
.popOverPage {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #22232E;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 20vw;
    padding: 42px;
    width: 616px;
}

.popOverContentBox {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popOverTextBox {
    display: flex;
    flex-direction: column;

}

.popOverH1 {
    font-family: Michroma;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 3%;
    text-align: left;
    color: aliceblue;
    margin: 0 0 24px 0;
}

.popOverText {
    line-height: 150%;
    text-align: left;
    color: aliceblue;
}

input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #848484;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-right: none;
    border-left: none;
    border-top: none;
}

input::placeholder {
    color: #C2C2C2;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popOver_button {
    display: block;
    width: 128px;
    height: 56px;
    background-color: #00FF11;
    border-radius: 16px;
    color: #070706;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popOverInputBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 390px) {
    .popOverPage_closeButton {
        width: 64px;
        height: 64px;
        margin-left: auto;
    }
    .popOverPage {
        display: flex;
        flex-direction: column;
        align-items: start;
        background: #22232E;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        margin: 10vh 10vw;
        padding: 32px;
        width: 80vw;
        height: 80vh;
        box-sizing: border-box;
    }
    .popOverInputBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        height: 30vh;
    }
    .popOver_button {
        margin-left: auto;
    }
}