.homePageContent {
    height: 100%;
    width: 100%;
    background-color:azure;
    position: relative;
    overflow: hidden;
}

.homePageContent_backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homePageContent_videoBlock {
    position: relative;
    border: 14px solid #00FF11;
    box-sizing: border-box;
    height: 234px;
    width: 415px;
    overflow: hidden;
}

.homePageContent_contentContainer {
    /* overflow: hidden; */
    position: absolute;
    box-sizing: border-box;
    top: calc(50vh - 117px);
    left: 128px;
    display: flex;
    right: 128px;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.homePageContent_videoSmall{
    width: 200vw;
    /* margin-left: -300px;
    margin-top: -300px; */
    object-fit: cover;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.homePageContent_textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homePageContent_borderRight {
    padding-right: 24px;
    margin-left: auto;
    border-right: 4px solid #00FF11;
    text-align: right;
    color: aliceblue;
    /* width: 453px; */
}

.homePageContent_heading {
    font-family: Michroma;
    font-size: 48px;
    line-height: 93%;
    text-align: right;
    color: aliceblue;
    margin: 0 0 24px 0;
    
}

.homePageContent_graddient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* background: linear-gradient(339deg, #000000 26%, #00000000 48%), linear-gradient(90deg, #17161c00 37%, #000000 100%), linear-gradient(0deg, #17161c99 0%, #17161c99 100%); */
    background: linear-gradient(0deg, rgba(34, 35, 46, 0.60) 0%, rgba(34, 35, 46, 0.60) 100%), linear-gradient(90deg, rgba(34, 35, 46, 0.00) 18.83%, #22232E 51.17%), linear-gradient(339deg, #22232E 27.27%, rgba(34, 35, 46, 0.00) 48.94%);
}


@media (max-width: 390px) {
    .homePageContent {
        padding: 16px;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }
    .homePageContent_backgroundVideo {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .homePageContent_contentContainer {
                display: flex;
                flex-direction: column;
/* overflow: hidden; */
        position: absolute;
        box-sizing: border-box;
        top: 70px;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        width: 100vw;
        height: calc(100vh - 100px);
    }
    .homePageContent_videoBlock {
        position: relative;
        border: 14px solid #00FF11;
        box-sizing: border-box;
        height: calc(100vh - 360px);
        width: calc(100vw - 32px);
        overflow: hidden;
    }
    .homePageContent_graddient {
        width: 100vw;
        height: 100vh;
        position: absolute;
        box-sizing: border-box;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #22232E;
    
    }
}