.upperLine {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 86px;
    padding-right: 96px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(34, 35, 46, 0.00) 0%, rgba(34, 35, 46, 0.71) 18.22%, rgba(34, 35, 46, 0.71) 72.22%);

}

.upperLine_name {
    font-family: "Mukta", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    margin: 0;
    line-height: 22px;
}

.upperLine_pagetitle {
    color: #00FF11;
    font-family: "Mukta", sans-serif;
    text-align: left;
    font-size: 16px;
    margin: 0;
    line-height: 18px;
}


.upperLine_button {
    background: 0;
    /* box-shadow: 0; */
    border: 0;
    width: fit-content;
    margin: 0;

    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
}

@media (max-width: 390px) {
    .upperLine {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: row;
        padding: 16px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        /* background-color: blue; */
    }
}