.body {
    margin: 0;
    padding: 0;
}
.projectPageContent {
    background-color: #22232E;
}

.projectPageContent_header {
    padding-left: 128px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 60vh;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), lightgray 50% / cover no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
}

.projectPageContent_subtitle {
    color: #00FF11;
    font-size: 16px;
    font-weight: 600;
}

.projectPageContent_title {
    color: #fff;
    font-family: Michroma;
    line-height: 93%;
    font-size: 64px;
    margin: 0;
    margin-top: 24px;
    text-align: left;
}

.projectPageContent_explainingBlock {
    background-color: #1A1A1B;
    height: fit-content;
    margin: 0;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.projectPageContent_text {
    column-count: 2;
    column-gap: 20px;
    text-align: left;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    border-left: #00FF11 solid;
    font-family: "Mukta", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.projectPageContent_detailUnEvent {
    display: flex;
    align-items: end;
    padding-left: 128px;
    padding-right: 128px;
    margin-top: 32px;
}

.projectPageContent_smallText {
    color: #fff;
    text-align: left;
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

.projectPageContent_leftImage {
    width: 589;
    margin-right: 32px;
}
.projectPageContent_rightImage {
    width: 589;
    margin-left: 32px;
}
.projectPageContent_footer {
    width: 100%;
    background-color: #1A1A1B;
    margin-bottom: -16px;
    margin-top: 32px;
    color: #D8D8D8;
    font-family: "Mukta", sans-serif;
    padding: 30px 0 64px 30px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.projectPageContent_verticalContainer {
    display: flex;
    margin-left: 100px;
    align-items: start;
    flex-direction: column;
}
.projectPageContent_horizontalContainer {
    display: flex;
    align-items: center;
}
.projectPageContent_footerTitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.projectPageContent_footerText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    color: #D8D8D8;
    text-decoration: none;
}

.ml {
    margin-left: 8px;
}

@media (max-width: 390px) {
    .projectPageContent_header {
        padding: 64px 16px 16px 16px;
        height: 243px;
    }
    
    .projectPageContent_title {
        color: #fff;
        font-family: Michroma;
        line-height: 93%;
        font-size: 32px;
        font-weight: 400;
        margin: 0;
        text-align: left;
    }
    .projectPageContent_text {
        column-count: 1;
        font-size: 14px;
        line-height: 21px;
    }
    .projectPageContent_explainingBlock {
        background-color: #1A1A1B;
        height: fit-content;
        margin: 0;
        padding: 32px 16px;
    }
    .projectPageContent_detailUnEvent {
        padding: 16px;
        flex-direction: column;
    }
    
    .projectPageContent_smallText {
        font-size: 14px;
        line-height: 21px;
    }
    
    .projectPageContent_leftImage {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    .projectPageContent_rightImage {
        width: 100%;
        margin-left: 0;
    }
    .text_first {
        flex-direction: column-reverse;
    }

    .projectPageContent_footer {
        padding: 16px 16px 32px 16px;
        display: flex;
        flex-direction: column;

    }
    .projectPageContent_verticalContainer {
        display: flex;
        margin-left: 0;
        margin-top: 16px;
        align-items: start;
        flex-direction: column;
    }

    .projectPageContent_footerText {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        font-style: italic;
        cursor: pointer;
        color: #D8D8D8;
        text-decoration: none;
    }
    
    .ml {
        margin-left: 8px;
    }
}