.slideoutMenu_navigationBox {
    background: #00FF11;
    height: 120px;
    width: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.8s;
    display: flex;
    align-items: center;
    padding-right: 96px;
    box-shadow: 9px 4px 38px rgba(6.26, 6, 7, 0.48);
    z-index: 8;
}

.slideoutMenu_closed {
    background: #00FF11;
    height: 120px;
    width: auto;
    position: fixed;
    right: -120px;
    top: -120px;
    transition: 0.8s;
    display: flex;
    align-items: center;
    padding-right: 96px;
    box-shadow: 9px 4px 38px rgba(6.26, 6, 7, 0.48);
    z-index: 8;
}
.slideoutMenu_navigationItems {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 15px;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 32px;
    width: 542px;
    margin-right: 96px;
    margin-left: 32px;
}

.slideoutMenu_item {
    font-size: 15px;
    font-weight: 600;
    font-family: "Mukta", sans-serif;
    width: 128px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
}
.slideoutMenu_item_selected {
    font-size: 15px;
    font-weight: 600;
    font-family: "Mukta", sans-serif;
    width: 128px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    background-color: #00CF0E;
}

.slideoutMenu_item:hover {
    background-color: #00EE11;
}
.slideoutMenu_item:active {
    background-color: #00CF0E;
}

.slideoutMenu_button {
    background-color: transparent;
    border: 0;
    rotate: 180deg;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
